@import "~bootstrap/scss/bootstrap.scss";

.card-title{
    color: red;
    text-align: center;
    font-size: 100px;
    margin-bottom: 30px;
    
}
.intro-text{
    color:black;
    font-size: 45px;
    bottom: 100px;
    margin-right: 400px;
    border: 20px;
    
}
.boton1{
    background-color: red;
    font-size: 50px;
    color: white;
    border-radius: 15px;
    bottom: 50%;
}
.lion{
    font-size: 30px;
    color: red;
    background-color: yellow;
}
.monkey{
    font-size: 30px;
    color: red;
    background-color: yellow;
}
.cat{
    font-size: 30px;
    color: red;
    background-color: yellow;
}
    



