@import "~bootstrap/scss/bootstrap.scss";

.card-title{
    color: red;
    text-align: center;
    font-size: 100px;
    margin-bottom: 30px;
    
}
.intro-text{
    color: black;
    font-size: 45px;
    bottom: 100px;
    margin-right: 400px;
}
.boton1{
    background-color: red;
    font-size: 35px;
    color: white;
    border-radius: 15px;
    bottom: 50%;
}