@import "~bootstrap/scss/bootstrap.scss";

.card-title{
    color: white;
    text-align: center;
    font-size: 100px;
    margin-bottom: 30px;
    font-family: 'Times New Roman', Times, serif;
    
}
.intro-text{
    color:white;
    font-size: 45px;
    bottom: 100px;
    margin-right: 400px;
    border: 20px;
    font-family: 'Times New Roman', Times, serif;
    
}
.boton1{
    background-color: red;
    font-size: 60px;
    color: white;
    border-radius: 15px;
    
}
.lion{
    font-size: 47px;
    color:white;;
    // background-color: rgb(226, 226, 102);
   
}
.bufalo{
    font-size: 55px;
    color: white;

    
}
.cat{
    font-size: 50px;
    color: white;

}
.predators{
    margin: auto;
    color: white;
}
.herbibors{
    margin: auto;
    color: white;
}
.domestics{
    margin: auto;
    color: white;
}
.card{
 background-color: black;
}    
.segundop{
    background-image: url("https://thumbs.dreamstime.com/b/frontera-incons%C3%BAtil-con-el-%C3%A1rbol-tropical-tal-como-animales-de-la-palma-del-pl%C3%A1tano-y-selva-vector-143231695.jpg");
    // width: 115px;
    height: 550px;

}
.segundot{
    color: white;
    text-align: center;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;

}
#info{
    color: rgb(255, 255, 255);
    font-size: 45px;
    font-family: cursive;
    position: relative;
    top: 100px;
    margin-left: 80px;
}




    

